In [8]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv('data/orca_answer_8b.csv')
df_1 = pd.read_csv('data/orca_dataset.csv')

In [43]:
df = pd.concat([df , df_1] , axis = 1)

In [44]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [45]:
df.head()

,pred_answer,question,answer
0,<answer>\n\nTo determine who would be the numb...,There were four students running in a race. Mi...,Based on the information provided:\n\n1. Minyo...
1,<answer>\n\nTo determine which whale is the sl...,"There are four whales of (a), (b), (c), and (d...","From the given information, we can deduce the ..."
2,"<answer>\n\nTo find the largest vase, we need ...","There are 4 vases, (a), (b), (c), and (d). Vas...",Vase (b) is the largest vase because it is lar...
3,<answer>\n\nTo find out how many students are ...,Students stand in a line. Taehyung is standing...,Let's break down the information given:\n\n1. ...
4,<answer>\n\nTo find the time taken to come dow...,"When it comes to mountain climbing, there are ...",Let's denote the length of the shorter path as...

In [46]:
print(df["answer"][0])

Based on the information provided:

1. Minyoung was faster than Yoongi.
2. Yoongi was faster than Jimin.
3. Jimin was slower than Yuna.
4. Minyoung was slower than Yuna.

From points 1 and 2, we can deduce that Minyoung is faster than both Yoongi and Jimin. From point 3, we know that Yuna is faster than Jimin. And from point 4, we know that Yuna is faster than Minyoung.

Therefore, the ranking from fastest to slowest is:

1. Yuna
2. Minyoung
3. Yoongi
4. Jimin

So, Yuna would be number 1 in the race.

In [7]:
# write a function that extracts the answer from the answer column of the df and stores it in a new column called extracted_answer and the answer occurs after the ### tag
def extract_answer(answer):
    return answer.split('####')[1]

df['extracted_answer'] = df['answer'].apply(extract_answer)

IndexError: list index out of range

In [47]:
# write a function that extracts the answer from the answer column of the df and stores it in a new column called extracted_answer and the answer is the last number in the whole answer string.
import pandas as pd
import re

def extract_last_number(df , column_name , store_name):
    """
    Extracts the last number from the 'answer' column of the DataFrame
    and stores it in a new column called 'extracted_answer'.

    Parameters:
        df (pd.DataFrame): Input DataFrame with an 'answer' column.

    Returns:
        pd.DataFrame: Modified DataFrame with the new 'extracted_answer' column.
    """
    def get_last_number(s):
        numbers = re.findall(r'\d+', str(s))
        return int(numbers[-1]) if numbers else None

    df[store_name] = df[column_name].apply(get_last_number)
    return df

In [48]:
df_extrcted = extract_last_number(df, 'answer' , 'extracted_answer')

In [49]:
df_extrcted["extracted_answer"][:4].values

array([ 1.,  3., nan, 13.])

In [50]:
df_extrcted = df_extrcted[pd.notna(df_extrcted['extracted_answer'])].reset_index(drop=True)

In [51]:
df_extrcted["extracted_answer"][:4].values

array([ 1.,  3., 13.,  2.])

In [52]:
df_extrcted = extract_last_number(df, 'pred_answer' , 'pred_answer_value')

In [53]:
df_extrcted['extracted_answer'][:4].values

array([ 1.,  3., nan, 13.])

In [54]:
import pandas as pd

def compare_answers(df):
    """
    Compares 'extracted_answer' and 'pred_answer_value' row-wise,
    assigns 1 if equal, else 0, and calculates accuracy.

    Parameters:
        df (pd.DataFrame): DataFrame with 'extracted_answer' and 'pred_answer_value' columns.

    Returns:
        pd.DataFrame: Updated DataFrame with 'match_with_answer' column.
        float: Accuracy score (0 to 1).
    """
    def is_match(extracted, predicted):
        try:
            return int(extracted) == int(predicted)
        except:
            return 0

    df['match_with_answer'] = df.apply(
        lambda row: is_match(row['extracted_answer'], row['pred_answer_value']),
        axis=1
    )

    accuracy = df['match_with_answer'].mean()  # Mean gives accuracy
    return df, accuracy

In [55]:
df, accuracy = compare_answers(df)

print("Accuracy:", accuracy)
print(df.head())

Accuracy: 0.615
                                         pred_answer  \
0  <answer>\n\nTo determine who would be the numb...
1  <answer>\n\nTo determine which whale is the sl...
2  <answer>\n\nTo find the largest vase, we need ...
3  <answer>\n\nTo find out how many students are ...
4  <answer>\n\nTo find the time taken to come dow...

                                            question  \
0  There were four students running in a race. Mi...
1  There are four whales of (a), (b), (c), and (d...
2  There are 4 vases, (a), (b), (c), and (d). Vas...
3  Students stand in a line. Taehyung is standing...
4  When it comes to mountain climbing, there are ...

                                              answer  extracted_answer  \
0  Based on the information provided:\n\n1. Minyo...               1.0
1  From the given information, we can deduce the ...               3.0
2  Vase (b) is the largest vase because it is lar...               NaN
3  Let's break down the information given:\n\n1. ...              13.0
4  Let's denote the length of the shorter path as...               2.0

   pred_answer_value match_with_answer
0                  1              True
1                  3              True
2                  3                 0
3                 13              True
4                  6             False

In [36]:
# Now write a function where the extracted answer is searched in answer_without_abstract column and if it is found then the value of the column named match_with_answer is set to 1 else 0
def match_answer(answer, answer_without_abstract):
    if answer in answer_without_abstract:
        return 1
    else:
        return 0

df['match_with_answer'] = df_extrcted.apply(lambda x: match_answer(x['extracted_answer'], x['pred_answer_value']), axis=1)
#df_1["match_with_answer"] = df_1.apply(lambda x: match_answer(x['extracted_answer'], x['pred_answer']), axis=1)

TypeError: argument of type 'int' is not iterable

In [25]:
df_extrcted["match_with_answer"][5]

KeyError: 'match_with_answer'

In [23]:
# write code to select the rows of df_1 where df_1["match_with_answer"] == 1 and df["match_with_answer"] == 0
df_1[(df_1["match_with_answer"] == 1) & (df["match_with_answer"] == 0)]

,Unnamed: 0,question,answer,abstracts,answers_with_abstract,extracted_answer,match_with_answer
1,1,Tobias is buying a new pair of shoes that cost...,He saved up $110 total because 95 + 15 = <<95+...,Tobias is purchasing a new pair of shoes costi...,To validate the relationships between the prem...,5,1
12,12,"Jolene and Phil have four children, each with ...","Their 1st child was born 15 years ago, and the...",Here's a clear and coherent abstract of the pr...,To validate the relationships between the prem...,8,1
60,60,A spaceship is traveling to another planet. Th...,"On the first day, the spaceship spent a total ...","A spaceship is on a journey to another planet,...",To validate the relationships between the prem...,8,1
72,72,Brad’s zip code consists of five numbers that ...,"The five numbers add up to 10, so the first th...",Brad's zip code is a five-digit number where t...,To validate the relationships between the prem...,11026,1
87,87,Jason has six fish in his aquarium. He realize...,Start by finding how many fish were in the aqu...,Jason initially has six fish in his aquarium. ...,To validate the relationships between the prem...,207,1
96,96,Grandma Molly created statues of turtles for h...,"The second year, she quadrupled the number of ...",Grandma Molly initially placed 4 turtle statue...,To validate the relationships between the prem...,31,1
99,99,Hazel put up a lemonade stand. She sold half h...,Hazel sold 18 cups of lemonade to kids on bike...,"Hazel initially set up a lemonade stand, from ...",To validate the relationships between the prem...,56,1
107,107,Tina decides to fill a jar with coins. In the ...,There are 20 coins during the first hour. 30 c...,Tina begins by filling a jar with coins over t...,To validate the relationships between the prem...,100,1
119,119,Sebastian plays drums for percussion in an orc...,Sebastian in the percussion section makes <<1=...,"In a typical orchestra setup, the percussion s...",To validate the relationships between the prem...,21,1
136,136,Matt's entire family was going to spend the we...,We need to add Matt's entire family together s...,"Matt's family, consisting of his parents, olde...",To validate the relationships between the prem...,5,1
152,152,"Bertha plays tennis. Every ten games, one of h...",Bertha wears out 20 / 10 = <<20/10=2>>2 tennis...,Bertha initially begins with two tennis balls ...,To validate the relationships between the prem...,10,1
203,203,Mary needs school supplies. She has 6 classes ...,Mary needs 6*1= <<6*1=6>>6 folders.\nMary need...,Mary requires school supplies for her 6 classe...,To validate the relationships between the prem...,5,1
214,214,A papaya tree will grow 2 feet in the first ye...,"In the second year, the tree will grow 2 x 1.5...",A papaya tree's growth pattern over five years...,To validate the relationships between the prem...,23,1
236,236,Bob grew corn in his garden this year and ende...,"Stacy took 21 ears of corn, there are 14 ears ...","Bob, who grew an excessive 50 bushels of corn ...",To validate the relationships between the prem...,357,1
251,251,"At the beginning of the day, Principal Kumar i...",Half of the distance up the flagpole is 60/2 =...,Here's an abstract that conveys all relevant d...,To validate the relationships between the prem...,180,1
257,257,James does chores around the class. There are...,It takes 3*20=<<3*20=60>>60 minutes to clean t...,Here is a clear and concise abstract of the gi...,To validate the relationships between the prem...,4,1
259,259,Stephanie is moving into a new apartment. She ...,Stephanie wants to get 5 each of each type of ...,Stephanie is planning to purchase silverware f...,To validate the relationships between the prem...,44,1
261,261,Ishmael was monitoring whales out at sea for c...,"On the first trip, Ishmael sees 28 male whales...",Ishmael's whale monitoring trips involve obser...,To validate the relationships between the prem...,178,1
282,282,John decides to stop delivering the newspapers...,We know that 7-1=6 days the paper weighs 8 oun...,Here's an abstract conveying all relevant deta...,To validate the relationships between the prem...,100,1
287,287,Kate has to fill 52 balloons for the party. Ea...,She needs to fill a total of 52 * 5 = <<52*5=2...,"Kate has to fill 52 balloons, each holding 5 g...",To validate the relationships between the prem...,95,1
293,293,A tank can hold 100 liters of water. At the be...,"At the beginning of the rainy season, the tank...",A tank with a capacity of 100 liters is initia...,To validate the relationships between the prem...,25,1
323,323,It is raining outside and Bill puts his empty ...,At 2 pm there are 2 inches of rain in the tank...,Here is a clear and concise abstract of the pr...,To validate the relationships between the prem...,10,1
357,357,Cameron guides tour groups in a museum. He usu...,Cameron answered 2 * 6 = <<2*6=12>>12 question...,Here's a clear and coherent abstract conveying...,"Based on the abstract, we can break down the i...",68,1
362,362,Patty decides that to convince her brother and...,Patty can buy 5 packs of cookies because 15 / ...,Patty proposes a deal to her brother and siste...,To validate the relationships between the prem...,10,1

In [54]:
print(df["answers_with_abstract"][:3].values[2])

To validate the relationships between the premises and ensure they are logically consistent with the abstract, let's analyze each statement:

1. James invested $2000 in creating a movie: This is consistent with the abstract.
2. The production costs for each DVD copy of the movie amount to $6: This is also consistent with the abstract.
3. James sells each DVD for a significantly higher price, specifically 25 times the production cost: The abstract states 25 times, but the problem statement says 2.5 times. This inconsistency needs to be addressed.
4. James sells each DVD for $150 per DVD: This is consistent with the abstract, but based on the problem statement, it should be $150 (6 * 2.5).
5. James has a substantial sales operation, selling 500 DVDs a day, 5 days a week: This is consistent with the abstract.
6. Problem statement asks for the profit in 20 weeks: This is consistent with the abstract, which mentions a "considerable weekly sales volume."

To solve the problem statement based on this analysis, let's assume the correct selling price is 2.5 times the production cost, which is $6 * 2.5 = $15 per DVD.

Weekly sales volume:
500 DVDs/day * 5 days/week = 2500 DVDs/week

Revenue per week:
2500 DVDs/week * $15/DVD = $37,500/week

Cost per week:
2500 DVDs/week * $6/DVD = $15,000/week

Profit per week:
$37,500/week - $15,000/week = $22,500/week

Total profit in 20 weeks:
$22,500/week * 20 weeks = $450,000

In [31]:
print(df_1["answers_with_abstract"][12])

To validate the relationships between the premises and ensure they are logically consistent with the abstract, let's break down the problem statement step by step.

1. The first child was born exactly 15 years ago.
2. The second child was born exactly one year after the birth of the first child, so the second child was born 14 years ago.
3. The third child was born on the fourth birthday of the second child. Since the second child was born 14 years ago, the third child was born 10 years ago (14 - 4 = 10).
4. Two years after the birth of the third child, the fourth child was born. Since the third child was born 10 years ago, the fourth child was born 8 years ago.

The abstract states that Jolene and Phil have four children, all sharing the same birthday, which is consistent with the problem statement. The abstract also mentions that the family timeline begins with the birth of their first child exactly 15 years ago, which is also consistent with the problem statement.

Therefore, based on this analysis, the fourth child is 8 years old.

Solution: The fourth child is 8 years old.

In [58]:
df.columns

Index(['Unnamed: 0', 'question', 'answer', 'abstracts',
       'answers_with_abstract', 'extracted_answer', 'match_with_answer'],
      dtype='object')

In [87]:
# Now calculate the accuracy of the match_with_answer column
accuracy = df['match_with_answer'].sum() / len(df)
print(accuracy)

0.7328042328042328

In [88]:
df_1.columns

Index(['question', 'answer', 'abstracts', 'answers_with_abstract',
       'extracted_answer', 'match_with_answer'],
      dtype='object')

In [90]:
accuracy_1 = df_1['match_with_answer'].sum() / len(df)
print(accuracy_1)

0.66005291005291

### Analysis

In [121]:
# separate those datapoint in a new dataframe where df_1["match_with_answer"] == 0
df_1_match = df_1[df_1["match_with_answer"] == 1]

df_1_match.head()

,question,answer,answer_without_abstract,extracted_answer,match_with_answer
0,Ken created a care package to send to his brot...,"To the initial 2 pounds of jelly beans, he add...","To find the final weight of the box, we need t...",16,1
3,A car is driving through a tunnel with many tu...,"From the details given, the car has traveled 5...",Let's analyze the situation step by step.\n\n1...,10,1
4,A bear is preparing to hibernate for the winte...,The bear gained 1 / 5 * 1000 = <<1/5*1000=200>...,"To solve this problem, let's break it down ste...",200,1
5,Jesse and Mia are competing in a week long rac...,Jesse runs 2 miles in the first three days bec...,"To solve this problem, let's first calculate t...",6,1
6,Sam and Jeff had a skipping competition at rec...,"In round one, Jeff completed 16 - 1 = <<16-1=1...",To find the average number of skips per round ...,14,1

In [118]:
import random 

def permute_questions(df):
    new_rows = []

    for _, row in df.iterrows():
        question = row['question']
        answer = row['answer']
        
        # Split the question into sentences
        sentences = question.split('.')
        if len(sentences) < 3:  # Ensure there are at least 3 sentences
            continue
        
        # Separate the first and last sentence
        first_sentence = sentences[0]
        last_sentence = sentences[-1]
        middle_sentences = sentences[1:-1]
        
        # Generate 3 permutations of the middle sentences
        for _ in range(3):
            shuffled_middle = middle_sentences[:]
            random.shuffle(shuffled_middle)
            permuted_question = f"{first_sentence} {' '.join(shuffled_middle)} {last_sentence}."
            new_rows.append({'question': permuted_question, 'answer': answer})
    
    # Create a new DataFrame with the permuted questions
    new_df = pd.DataFrame(new_rows)
    return new_df

In [122]:
new_df = permute_questions(df_1_match)

In [127]:
new_df

,question,answer
0,Ken created a care package to send to his brot...,"To the initial 2 pounds of jelly beans, he add..."
1,Ken created a care package to send to his brot...,"To the initial 2 pounds of jelly beans, he add..."
2,Ken created a care package to send to his brot...,"To the initial 2 pounds of jelly beans, he add..."
3,A car is driving through a tunnel with many tu...,"From the details given, the car has traveled 5..."
4,A car is driving through a tunnel with many tu...,"From the details given, the car has traveled 5..."
...,...,...
751,Nikola is saving up for a bag of ant food befo...,The ants will need 800 ounces of food because ...
752,Nikola is saving up for a bag of ant food befo...,The ants will need 800 ounces of food because ...
753,Michael and Thomas are selling their lego coll...,They made $10 because 2 x 5 = <<2*5=10>>10\nTh...
754,Michael and Thomas are selling their lego coll...,They made $10 because 2 x 5 = <<2*5=10>>10\nTh...
755,Michael and Thomas are selling their lego coll...,They made $10 because 2 x 5 = <<2*5=10>>10\nTh...

In [126]:
new_df.to_csv('data/temp/permuted_questions.csv', index=False)